body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: max-content;
  min-width: 150px;
  min-height: 150px;
  margin: 10px;
  border-radius: 5px;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  width: max-content;
  min-height: 100px;
  min-width: 100px;
  border-radius: 5px;
}

button {
  border-radius: 5px;
}
